<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- CSS only -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!--    <meta http-equiv="refresh" content="1">-->
    <title>Title</title>
</head>
<body>
<div class="rowColor">
    <table>
        <tr class="contentContainer float-right"> <td th:utext="${user}"> </td></tr>
    </table>
    <a th:href="@{/logout}"> Выйти </a>
</div>


<div>
    <div class="row rowColor" >

        <nav class="nav col-md-12" >
            <a class="nav-link" th:href="@{/}">Главная</a>
            <a class="nav-link " th:href="@{/vichi}">ВИЧ</a>
            <a class="nav-link" th:href="@{/torchi}">TORCH</a>
            <a class="nav-link " th:href="@{/proofCode}" >Подтверждающие</a>
            <a class="nav-link " th:href="@{/divrefresh}" >Ручной ввод</a>
            <a class="nav-link " th:href="@{/immulite}" >Иммулайт</a>
            <a class="nav-link " th:href="@{/reportPage}" >Забор филиалы</a>



        </nav>
        <div class="container-fluid" style="background-color: #F8F8FF">
            <div class="container-fluid">
<!--                <h1>Анализы в Казань</h1>-->
                <!-- Nav tabs -->
                <div class="tab-content">
                    <div class="fixed-top">

                            <div class="float-right" >
<!--                                <form name="writeForm" id="writeForm" th:action="@{/writeTorch}" method="post">-->
                                    <input type="submit" class="btn btn-primary" onclick="fetch('/update/writeGormonu')" value="Сформировать списки">
                                    <input type="submit" id="but" class="btn btn-success" onclick="getAMGByDate()" value="Выдать результаты">
                                    <input type="submit" class="btn btn-danger" onclick="clearList()" value="Очистить список">
<!--                                    <input type="hidden" name="redir" id="redirTorch" value="redirect:/codeTorch">-->
<!--                                </form>-->
                            </div>
                        </div>

                    <div id="warn"></div>

                            <div class="bg-white">
                                <br>
                            </div>
                        </div>

<!--                        <table class="table table-striped" border="1">-->
<!--                            <tr>-->
<!--                                <th>№</th>-->
<!--                                <th>ЭМК</th>-->
<!--                                <th>ФИО</th>-->
<!--                                <th>Дата забора</th>-->
<!--                                <th>Код забора</th>-->
<!--                                <th>Rub-G</th>-->
<!--                                <th>Rub-M</th>-->
<!--                                <th>Хламидии Ig G</th>-->
<!--                                <th>Хламидии Ig A</th>-->
<!--                                <th>Хламидии БТШ</th>-->
<!--                                <th>Филиал</th>-->
<!--                                <th>Статус</th>-->
<!--&lt;!&ndash;                                <th>Статус</th>&ndash;&gt;-->
<!--                            </tr>-->
                            <div id="dataRowDiv"></div>



<!--                        </table>-->

                </div>

            </div>

        </div>

    </div>
</div>
</div>
</div>

<!--<script>-->
<!--    $( function() {-->
<!--        if ( $( '#codeInt' ).val() !== '' ) {-->
<!--            $( '#codeForm' ).submit();-->
<!--        }-->
<!--        if ($( '#torchcodeFormcodeInt').val()!=='') {-->
<!--            $( '#torchcodeForm').submit();-->
<!--        }-->
<!--    });-->
<!--</script>-->
<script>


    function getList(code=''){
        let row = ''
        let count = 1

        fetch('/update/gormonu/'+code+'/0')
            .then((res)=>res.json()
                .then((data) => {
                    data.forEach( function (analys) {
                        row+=`<tr>               <td>${count}</td>
                                                <td >${analys.emc}</td>
                                                <td >${analys.fio}</td>
                                                <td >${analys.date_bio}</td>
                                                <td >${analys.code}</td>
                                                <td >${analys.hiv}</td>
                                                <td >${analys.hbsAg}</td>
                                                <td >${analys.atHCV}</td>
                                                <td >${analys.syphIFA}</td>
                                                <td >${analys.label}</td>
                                                 <td class="font-weight-bold text-danger">${analys.gCheck}</td>
                                                <td ><button class="btn-danger" onclick="
                                                 dele(${analys.emc})
                                                ">Удалить</button></td>
                                                    </tr>`
                        // console.log(row)
                        setDiv(row)
                        count++})

                }))
        window.scrollBy(0, window.innerHeight)
    }

</script>
<script>

    function exp() {
        setButtonDisable()
        fetch('/update/runGorm')
        setTimeout(getDoneList, 40000)
        setTimeout(setButtonEnable, 40000)

    }
</script>

<script>
    function clearList() {
        fetch('/update/clear')
        document.location.reload()

    }
</script>
<script>


    function getDoneList() {
        let rowDone = ''
        let count = 1


        // if (succes === 1) {
            fetch('/update/chekGormonu/')
                .then((res) => res.json()
                    .then((data) => {
                        data.forEach(function (analys) {
                            rowDone += `<tr>    <td>${count}</td>
                                                <td >${analys.emc}</td>
                                                <td >${analys.fio}</td>
                                                <td >${analys.date_bio}</td>
                                                <td >${analys.code}</td>
                                                <td >${analys.resultHiv!=null?analys.resultHiv:''}</td>
                                                <td >${analys.resultHbsAg!=null?analys.resultHbsAg:''}</td>
                                                <td >${analys.resultatHCV!=null?analys.resultatHCV:''}</td>
                                                <td >${analys.resultSyphIfa!=null?analys.resultSyphIfa:''}</td>
                                                <td >${analys.label}</td>
                                                <td class="font-weight-bold text-danger">${analys.gCheck}</td>

                                                    </tr>`
                            // console.log(rowDone)
                            setDiv(rowDone)
                            count++
                        })
                    }))
        // }
    }
</script>
<script>
    // let succes = ''
    // $('input[name=grpcheck]').change(function(){
    //     if($(this).is(':checked')) {
    //         getDoneList('0000')
    //     }
    //     else {
    //         getList('0000')
    //         // document.readyState
    //
    //     }})
    getList('0000')

    function t() {

        fetch('/update/code').then(
            (res)=>res.json()
                .then((data) => {
                        data.forEach( function (some) {
                            // document.getElementById("code_update").innerHTML=`<input type="text" name="codeInt" id="codeInt" value="${some}">`
                            if (some!=null) {


                                // let params = {
                                //     codeInt: some,
                                //     proofCode: '',
                                //     redir: 'redirect:/gormonu',
                                //     done: 'and PATDIREC.QUANTITY_DONE=0',
                                //     grpprm: '1'
                                //
                                // }

                                getList(some)

                                // setTimeout("location.reload(true)", 1000)
                            }


                        })
                    }
                ))




    }
    $( (function () {
        t();
        setInterval('t()', 1000)
    }));
</script>

<script>

    function setDiv(stroka='') {
        let begin =`<table class="table table-striped" border="1">
                            <tr>
                                <th>№</th>
                                <th>ЭМК</th>
                                <th>ФИО</th>
                                <th>Дата забора</th>
                                <th>Код забора</th>
                                <th>АМГ</th>
                                <th>17-ОН</th>
                                <th>СА-125</th>
                                <th>Андростендион</th>
                                <th>Филиал</th>
                                <th>Статус</th>
<!--                                <th>Статус</th>-->
                            </tr>`
        let end = `</table>`
        document.getElementById("dataRowDiv").innerHTML=begin+stroka+end
    }
</script>
<script>
    function dele(del='') {
        fetch('/update/delete',
            {
                method: 'POST',
                body: del
            })
        document.location.reload()
    }
</script>

<script>
    function setButtonEnable() {
        document.getElementById('but').disabled = false;
    }
    function setButtonDisable() {
        document.getElementById('but').disabled = true;
    }
</script>
<script src="amgwarner.js"></script>
</body>
</html>