<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- CSS only -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="icon" href="spring_leaf_plant_nature_leaves_garden_environment_icon_133309.ico">
<!--    <meta http-equiv="refresh" content="1">-->
    <title>Title</title>
</head>
<body>
<div class="rowColor">
    <table>
        <tr class="contentContainer float-right"> <td th:utext="${user}"> </td></tr>
    </table>
    <a th:href="@{/logout}"> Выйти </a>
</div>
<div>
    <div class="row rowColor">

        <nav class="nav col-md-12" >
            <a class="nav-link" th:href="@{/}">Главная</a>
            <a class="nav-link" th:href="@{/code}">Забор</a>
            <a class="nav-link active" href="#" >Результаты</a>

        </nav>
        <div class="container-fluid" style="background-color: #F8F8FF">
            <div class="container-fluid">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ВИЧ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">TORCH</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div>
                            <div class="bg-white">
                                <br>
                                <div class="float-right">
                                    <form name="exportForm" id="exportForm" th:action="@{/exportresult}" method="post">
                                        <input type="submit" class="btn btn-primary" value="Выдать результаты">
                                    </form>
                                </div>
                                <br>
                                <br>
                                <div class="float-right">
                                <form name="refreshForm" id="refrehForm" th:action="@{/refresh}" method="post">
                                    <input type="submit" class="btn btn-danger" value="Завершить работу">
                                </form>
                            </div>
<!--                                <div>-->
<!--                                    <form name="refresh" id="refresh" th:action="@{/scan}" method="post">-->
<!--                                        <input type="text" name="zValue" id="zValue" th:value="*{z}">-->
<!--&lt;!&ndash;                                        <input type="submit" value="Сканировать">&ndash;&gt;-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                                <div id="div_refresh">-->
<!--                                    <form name="codeForm" id="codeForm" th:action="@{/code}" method="post">-->
<!--&lt;!&ndash;                                        <input type="hidden" name="codeInt" id="codeInt" th:value="*{data1}">&ndash;&gt;-->
<!--                                        <input type="text" name="codeInt" id="codeInt" >-->
<!--                                         <input type="submit" value="Отправить">-->
<!--                                    </form>-->
<!--                                    <form name="writeForm" id="writeForm" th:action="@{/write}" method="post">-->
<!--                                        <input type="submit" value="Завершить">-->
<!--                                    </form>-->
<!--                                </div>-->
                            </div>
                        </div>

                        <table class="table table-striped" border="1">
                            <tr>
                                <th>№</th>
                                <th>ЭМК</th>
                                <th>ФИО</th>
                                <th>Дата забора</th>
                                <th>Код забора</th>
                                <th>ВИЧ</th>
                                <th>HBsAg</th>
                                <th>Anti-HCV</th>
                                <th>SyphIFA</th>
                                <th>МРП</th>
                                <th>Контенгент</th>
                                <th>Филиал</th>
                                <th>Статус</th>
                            </tr>

                            <th:block th:each = "cont:${chekedAnalysis}">
                                <tr>
                                    <td th:utext="${chekedAnalysis.indexOf(cont)+1}"></td>
                                    <td th:utext="${cont.emc}"></td>
                                    <td th:utext="${cont.fio}"></td>
                                    <td th:utext="${cont.date_bio}"></td>
                                    <td th:utext="${cont.code}"></td>
                                    <td th:utext="${cont.resultHiv}"></td>
                                    <td th:utext="${cont.resultHbsAg}"></td>
                                    <td th:utext="${cont.resultatHCV}"></td>
                                    <td th:utext="${cont.resultSyphIfa}"></td>
                                    <td th:utext="${cont.resultMRP}"></td>
                                    <td th:utext="${cont.kontengent}"></td>
                                    <td th:utext="${cont.label}"></td>
                                    <td th:utext="${cont.totalChek()}" class="font-weight-bold text-danger"></td>

<!--                                    <td>-->
<!--                                        <button class="btn btn-danger" type="submit">x</button>-->
<!--                                    </td>-->

                            </th:block>

                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div>
                            <h4>TORCH</h4>
                            <div class="bg-white">
                                TORCH uptake data
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<!--<script>-->
<!--    $( function() {-->
<!--        if ( $( '#codeInt' ).val() !== '' ) {-->
<!--            $( '#codeForm' ).submit();-->
<!--        }-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    // let URL = "divRefresh.html"-->
<!--    $(document).ready(function () {-->
<!--       $( '#div_refresh' ).load(document.URL + '#div_refresh');-->
<!--       setInterval(function () {-->
<!--           $( '#div_refresh' ).load(document.URL + '#div_refresh');-->
<!--       }, 1000)-->
<!--    })-->
<!--</script>-->
</body>
</html>