<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- CSS only -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!--    <meta http-equiv="refresh" content="1">-->
    <title>Title</title>
</head>
<body>
<div class="rowColor">
    <table>
        <tr class="contentContainer float-right">
            <td id="user" th:utext="${user}"> </td>

        </tr>
    </table>
    <div id="server" th:utext="${server}"> </div>
    <a th:href="@{/logout}"> Выйти </a>
</div>


<div>
    <div class="row rowColor" >

        <nav class="nav col-md-12" >
            <a class="nav-link" th:href="@{/}">Главная</a>
            <a class="nav-link " th:href="@{/code}">ВИЧ</a>
            <a class="nav-link active" href="#" >TORCH</a>
            <a class="nav-link " th:href="@{/proofCode}" >Подтверждающие</a>
            <a class="nav-link " th:href="@{/divrefresh}" >Ручной ввод</a>
            <a class="nav-link " th:href="@{/chek}" >Результаты ВИЧ</a>
            <a class="nav-link " th:href="@{/chekTorch}" >Результаты TORCH</a>
            <a class="nav-link " th:href="@{/reportPage}" >Забор филиалы</a>



        </nav>
        <div class="container-fluid" style="background-color: #F8F8FF">
            <select name="list" id="list" style="width: 150px" >
                <option value="" selected></option>
                <option >отправленные</option>
                <option >не отправленные</option>
            </select>
<!--            <datalist  id="list">-->
<!--                <option value="отправленные"></option>-->
<!--                <option value="не отправленные"></option>-->
<!--&lt;!&ndash;                <option value="текущие" ></option>&ndash;&gt;-->
<!--            </datalist>-->
            <div class="container-fluid">
<!--                <h1>Анализы в Казань</h1>-->
                <!-- Nav tabs -->
                <div class="tab-content">
                            <div class="float-right">
<!--                                <form name="writeForm" id="writeForm" th:action="@{/writeTorch}" method="post">-->
                                    <input type="submit" class="btn btn-primary" onclick="fetch('/update/writeGormonu')" value="Сформировать списки">
                                    <input type="submit" class="btn btn-primary" onclick="getDoneList()" value="Выдать результаты">
<!--                                    <input type="hidden" name="redir" id="redirTorch" value="redirect:/codeTorch">-->
<!--                                </form>-->

                            </div>
                            <div class="bg-white">
                                <br>
                            </div>
                        </div>

                            <div id="dataRowDiv"></div>



                <div id="dataRowDiv1">
                    <input type="text" value="tetxt">
                    <input type="checkbox" name="chk" id="chk">

                </div>

                </div>

            </div>

        </div>

    </div>
</div>
</div>
</div>


<script>

    let row = ''
    let buttonDisabled = ''

    function getList(code=''){

        row=''
        // fetch('/common/'+code+'/0/ /'+server)
        fetch('/common/', {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({code: code, done: 0, gprm: ' ', server: server, status: status})
        })
            .then((res)=>res.json()
                .then((data) => {
                    data.forEach( function (analys) {
                        // buttonDisabled= status===''?`<button onclick="delById(${analys.id})" disabled>Удалить</button>`
                        //     : `<button onclick="delById(${analys.id})" >Удалить</button>`
                        row+=
                            `<tr>
                                                <td >${analys.emc}</td>
                                                <td >${analys.fio}</td>
                                                <td >`+
                           // buttonDisabled
                            `<button onclick="delById(${analys.id})" >Удалить</button>`
                            +`</td>
                                                <td class="font-weight-bold text-danger">${analys.gCheck}</td>
                                                    </tr>`
                        // console.log(row)

                        })
                    setDiv(row)

                }))
        // console.log(status, row)
    }

</script>
<script>


    function getDoneList(){
        let rowDone = ''
        fetch('/update/chekGormonu/')
            .then((res)=>res.json()
                .then((data) => {
                    data.forEach( function (analys) {
                        rowDone+=`<tr>
                                                <td >${analys.emc}</td>
                                                <td >${analys.fio}</td>
                                                <td >${analys.date_bio}</td>
                                                    </tr>`
                        // console.log(rowDone)
                        setDiv(rowDone)})
                }))
    }
</script>
<script>
    let server=getUser();


    function getUser () {
        document.onload
        return document.getElementById("server").innerText
    }


    function t() {

        fetch('/common/code/'+server).then(
            (res)=>res.json()
                .then((data) => {
                        data.forEach( function (some) {
                            // document.getElementById("code_update").innerHTML=`<input type="text" name="codeInt" id="codeInt" value="${some}">`
                            if (some!=null) {



                                getList(some)

                            } else { getList('0000')}


                        })
                    }
                ))




    }
    $( (function () {
        t();
        setInterval('t()', 1000)
    }));
</script>

<script>

    function setDiv(stroka='') {

        let begin =`<table class="table table-striped" border="1">
                            <tr>
                                <th>№</th>
                                <th>ЭМК</th>
                                <th>ФИО</th>
                                <th>Дата забора</th>
                                <th>Код забора</th>
                                <th>Rub-G</th>
                                <th>Rub-M</th>
                                <th>Хламидии Ig G</th>
                                <th>Хламидии Ig A</th>
                                <th>Хламидии БТШ</th>
                                <th>Филиал</th>
                                <th>Статус</th>
<!--                                <th>Статус</th>-->
                            </tr>`
        let end = `</table>`
        document.getElementById("dataRowDiv").innerHTML=begin+stroka+end
    }
</script>
<script>
    // let status = true

    let status = ''

    $("select[name='list']").on('input', function(e){
        clear();
         status =$(this).val();

         console.log(status);

    });
    // $('input[name=grpcheck]').change(function(){
    //     clear()
    //     if($(this).is(':checked')) {
    //
    //         status= false
    //     }
    //     else {
    //
    //         status=true
    //         // document.readyState
    //
    //     }})
</script>
<script>
    function clear() {
        document.getElementById("dataRowDiv").innerHTML = ''
    }
</script>
<script>
    function delById(id='') {
        fetch('common/delete/'+id)
    }

    function getButtonOption(text='') {

    }


</script>

</body>
</html>