<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- CSS only -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <meta http-equiv="refresh" content="1">
    <title>Title</title>
</head>
<body>
<div class="rowColor">
    <table>
        <tr class="contentContainer float-right"> <td th:utext="${user}"> </td></tr>
    </table>
    <a th:href="@{/logout}"> Выйти </a>
</div>


<div>
    <div class="row rowColor" >

        <nav class="nav col-md-12" >
            <a class="nav-link" th:href="@{/}">Главная</a>
            <a class="nav-link" th:href="@{/code}">Забор</a>
            <a class="nav-link active" href="#">Подтверждающие</a>
            <a class="nav-link " th:href="@{/chek}" >Результаты</a>
            <a class="nav-link " th:href="@{/divrefresh}" >Ручной ввод</a>

        </nav>
        <div class="container-fluid" style="background-color: #F8F8FF">
                        <div>
                            <div id="div_refresh">
<!--                                <form name="codeForm" id="codeForm" th:action="@{/proofCode}" method="post">-->
                                <form name="codeForm" id="codeForm" th:action="@{/code}" method="post">
                                    <input type="hidden" name="codeInt" id="codeInt" value="">
                                    <input type="hidden" name="proofCode" id="proofCode" th:value="*{data1}">
<!--                                    <input type="text" name="proofCode" id="proofCode" >-->
                                    <input type="hidden" name="redir" id="redir" th:value="*{redir}">
                                    <input type="hidden" name="done" id="done" value="and PATDIREC.QUANTITY_DONE=1">

                                    <!--                                        <input type="text" name="codeInt" id="codeInt" >-->
<!--                                                                             <input type="submit" value="Отправить">-->
                                </form>

                            </div>
                            <div class="float-right">
                                <datalist id="counts">
                                    <option value="4" selected></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="5"></option>

                                </datalist>
                                <form name="writeForm" id="writeForm" th:action="@{/writeProof}" method="post">
                                    <input type="submit" class="btn btn-primary" value="Сформировать списки">
                                    <input type="hidden" name="redir" id="redirProof" value="redirect:/proofCode">
                                    Схема HBsAg под: w-d-1:10-1:100-1:1000-1:10000. Для изменения зайдите в "Ручной ввод"
                                    <input type="hidden" name="count"  value="w-d-1:10-1:100-1:1000-1:10000" size="35">
                                </form>

                            </div>
                        </div>

                        <table class="table table-striped" border="1">
                            <tr>
                                <th>№</th>
                                <th>ЭМК</th>
                                <th>ФИО</th>
                                <th>Дата забора</th>
                                <th>Код забора</th>
                                <th>ВИЧ</th>
                                <th>HBsAg</th>
                                <th>Anti-HCV</th>
                                <th>SyphIFA</th>
                                <th>МРП</th>
                                <th>Контенгент</th>
                                <th>Филиал</th>
                                <!--                                <th>Статус</th>-->
                            </tr>

                            <th:block th:each = "cont:${proofs}">
                                <tr>
                                    <td th:utext="${proofs.indexOf(cont)+1}"></td>
                                    <td th:utext="${cont.emc}"></td>
                                    <td th:utext="${cont.fio}"></td>
                                    <td th:utext="${cont.date_bio}"></td>
                                    <td th:utext="${cont.code}"></td>
                                    <td th:utext="${cont.hiv}"></td>
                                    <td th:utext="${cont.hbsAg}"></td>
                                    <td th:utext="${cont.atHCV}"></td>
                                    <td th:utext="${cont.syphIFA}"></td>
                                    <td th:utext="${cont.syphMRP}"></td>
                                    <td th:utext="${cont.kontengent}"></td>
                                    <td th:utext="${cont.label}"></td>
                                    <td th:utext="${cont.adres}"></td>
                                    <td >
                                        <form name="delForm" id="delForm" th:action="@{/deleteanalysis}" method="post">
                                            <input type="hidden" name="delete" id="deleteanalysis" value=0>
                                            <input type="hidden" name="deleteProof" id="deleteProof" th:value="*{proofs.indexOf(cont)}">
                                            <!--                                        <input type="text" name="codeInt" id="codeInt" >-->
                                            <input type="submit" class="btn btn-danger" value="Удалить">
                                        </form>
                                    </td>
                                    <!--                                    <td th:utext="${cont.totalChek()}" class="font-weight-bold text-primary"></td>-->

                                    <!--                                    <td>-->
                                    <!--                                        <button class="btn btn-danger" type="submit">x</button>-->
                                    <!--                                    </td>-->

                            </th:block>

                            </tr>
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
</div>
</div>

<script>
    // let URL = "divRefresh.html"
    // function show()
    // {
    //     $.ajax({
    //         url: "UptakeController.java",
    //         cache: false,
    //         success: function(html){
    //             $("#codeInt").html(html);
    //         }
    //     });
    // }
    //
    // $(document).ready(function(){
    //     show();
    //     setInterval('show()',1000);
    // });
</script>
<script>
    $( function() {
        if ( $( '#proofCode' ).val() !== '' ) {
            $( '#codeForm' ).submit();
        }
    });
</script>
<!--<script>-->
<!--    $( function() {-->
<!--        if ( $( '#codeProofInt' ).val() !== '' ) {-->
<!--            $( '#codeProofForm' ).submit();-->
<!--        }-->
<!--    });-->
<!--</script>-->
</body>
</html>